<div class="col-sm-3 p-0 m-0">
  <h2>Form Fields</h2>
  <div class="flex-grid">
    <div class="compListCont" style="display: block;" id="fields-icon-div">
      <ul class="clmOne">
        <li class="ui-draggable ui-draggable-handle">
          <span class="textIcon fieldBg"></span>Single Line
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="numberIcon fieldBg"></span>Number
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="nameIcon fieldBg"></span>Name
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="phoneIcon fieldBg"></span>Phone
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="dateIcon fieldBg"></span>Date
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="dropdownIcon fieldBg"></span>Dropdown
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="multiChoiceIcon fieldBg"></span>Multiple Choice
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="decisionIcon fieldBg"></span>Decision Box
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="websiteIcon fieldBg"></span>Website
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="uploadIcon fieldBg"></span>File Upload
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="sectionIcon fieldBg"></span>Section
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="paymentIcon fieldBg"></span>Payment
        </li>
      </ul>
      <ul class="clmTwo">
        <li class="ui-draggable ui-draggable-handle">
          <span class="textAreaIcon fieldBg"></span>Multi Line
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="decimalIcon fieldBg"></span>Decimal
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="addressIcon fieldBg"></span>Address
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="emailIcon fieldBg"></span>Email
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="timeIcon fieldBg"></span>Time
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="radioIcon fieldBg"></span>Radio
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="checkIcon fieldBg"></span>Checkbox
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="dateTimeIcon fieldBg"></span>Date-Time
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="currencyIcon fieldBg"></span>Currency
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="imgUploadIcon fieldBg"></span>Image Upload
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="fieldIcon fieldBg">
            <svg class="icon pagebreak_icon">
              <path d="M5 0v5h10v-5h1v6h-12v-6h1zM15 16v-6h-10v6h-1v-7h12v7h-1zM8 7h2v1h-2v-1zM5 7h2v1h-2v-1zM11 7h2v1h-2v-1zM14 7h2v1h-2v-1zM0 4.5l3 3-3 3v-6z"></path>
            </svg>
          </span>Page Break
        </li>
        <li class="ui-draggable ui-draggable-handle">
          <span class="matrixIcon fieldBg"></span>Matrix Choice
        </li>
      </ul>
      <div class="clearBoth"></div>
    </div>
  </div>
</div>